.navigation {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: #dc1c2d;
    transition: 0.3s all;
}

.navigation:hover {
    color: white;
    background: #dc1c2c81;
}