.navigation {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 700;
    padding: 4px;
    text-transform: uppercase;
    cursor: pointer;
    color: #dc1c2d;
}

.navigation:hover {
    border-bottom: 1px solid white;
}