@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.slider {
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
  margin-top: 20px;
}

.slider .thumb {
  width: 25px;
  height: 25px;
  cursor: grab;
  background: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.305);
  margin-top: -12px;
}