@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.slider {
  max-width: 100%;
  margin: auto;
}

.slider-track {
  top: 8px;
  height: 4px;
  background: linear-gradient(90deg, #0065cb 0%, #003972 100%);
}

.slider-track.slider-track-0 {
  background: rgb(232, 232, 232);
}

.slider-track.slider-track-2 {
  background: rgb(232, 232, 232);
}

.slider .thumb {
  width: 25px;
  height: 25px;
  cursor: grab;
  background: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.305);
  margin-top: -2px;
}